<main class="products">
  <div class="products__filters">
    <div class="products__filters__filter-kategorije">
        <span class="products__filters__filter-title">Kategorije</span>
        <img src="assets/images/footer/arrow-up.svg" class="products__filters__filter-arrow" alt="">
        <ul class="products__filters__filter-kategorije__lista">
          <li>Plastika</li>
          <li>Higijena</li>
          <li>Autokozmetika</li>
          <li>Alati</li>
        </ul>
        <button class="products__filters__filter-button no-margin">Prikazi sve</button>
    </div>
    <div class="products__filters__filter-brendovi">
      <span class="products__filters__filter-title">Brendovi</span>
      <img src="assets/images/footer/arrow-up.svg" class="products__filters__filter-arrow" alt="">
      <div class="products__filters__filter-brendovi__checkboxlist">
        <label>
          <input type="checkbox" name="A.S.C - HEMIK" (change)="changeChecked('A.S.C - HEMIK', 'brand')"> A.S.C - HEMIK
        </label>
        <label>
          <input type="checkbox" name="Agro - Trend STR" (change)="changeChecked('Agro - Trend STR', 'brand')"> Agro - Trend STR
        </label>
        <label>
          <input type="checkbox" name="Agromarket" (change)="changeChecked('Agromarket', 'brand')"> Agromarket
        </label>
        <label>
          <input type="checkbox" name="Actiwa" (change)="changeChecked('Actiwa', 'brand')"> Actiwa
        </label>
        <label>
          <input type="checkbox" name="AI. I. SR" (change)="changeChecked('AI. I. SR', 'brand')"> AI. I. SR
        </label>
      </div>
      <button class="products__filters__filter-button">Prikazi sve</button>
    </div>
    <div class="products__filters__filter-distributeri">
      <span class="products__filters__filter-title">Distributeri</span>
      <img src="assets/images/footer/arrow-up.svg" class="products__filters__filter-arrow" alt="">
      <div class="products__filters__filter-distributeri__checkboxlist">
        <label>
          <input type="checkbox" name="Metalac" (change)="changeChecked('Metalac', 'distributer')"> Metalac
        </label>
        <label>
          <input type="checkbox" name="Andjelic plast D.O.O" (change)="changeChecked('Andjelic plast D.O.O', 'distributer')"> Andjelic plast D.O.O
        </label>
        <label>
          <input type="checkbox" name="Plastic D.O.O" (change)="changeChecked('Plastic D.O.O', 'distributer')"> Plastic D.O.O
        </label>
        <label>
          <input type="checkbox" name="Modern Trade" (change)="changeChecked('Modern Trade', 'distributer')"> Modern Trade
        </label>
        <label>
          <input type="checkbox" name="TDC" (change)="changeChecked('TDC', 'distributer')"> TDC
        </label>
      </div>
      <button class="products__filters__filter-button">Prikazi sve</button>
    </div>
    <div class="products__filters__filter-raspon">
      <span class="products__filters__filter-title">Raspon cijena</span>
      <img src="assets/images/footer/arrow-up.svg" class="products__filters__filter-arrow" alt="">
      <div class="products__filters__filter-raspon__slider">
        <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
      </div>
      <div class="products__filters__filter-raspon__fields">
        <div class="products__filters__filter-raspon__fields__field">
          <span>Min</span>
          <input placeholder="0" type="text" name="" id="">
        </div>
        <div class="products__filters__filter-raspon__fields__field">
          <span>Max</span>
          <input placeholder="99999" type="text" name="" id="">
        </div>
      </div>
      <div class="products__filters__filter-raspon__button" >
        <button>Primjeni</button>
      </div>
    </div>
  </div>

  <div class="products__productlist">
    <div class="products__productlist__filteri">
      <div class="products__productlist__filteri__lijevo" >
        <select id="company-dropdown" [(ngModel)]="selectedOption" name="dropdown" >
          <option [value]="'none'">Odaberi kompaniju</option>
          <!--        ovdje ako bude trebalo ovo da se implementira -->
        </select>
        <span>&#9432;</span>
      </div>
      <div class="products__productlist__filteri__desno" >
        <img src="assets/images/utilities/magnifier-flipped.svg" alt="">
        <input type="text" name="nazivProizvoda" id="proizvod-input" [(ngModel)]="searchString"
              (input)="changeSearch()" placeholder="Pretrazi proizvode">
      </div>
    </div>
    <div class="products__productlist__proizvodi" *ngIf="!isLoadingProducts">
      <div *ngIf="emptyQuery">No results</div>
      <div class="products__productlist__proizvodi__proizvod" *ngFor="let product of products">
        <div class="products__productlist__proizvodi__proizvod__main">
          <div class="products__productlist__proizvodi__proizvod__main__glavno">
            <div class="products__productlist__proizvodi__proizvod__main__glavno__lijevo">
              <img src="{{product.imagePath}}" alt="">
            </div>
            <div class="products__productlist__proizvodi__proizvod__main__glavno__desno">
              <span class="products__productlist__proizvodi__proizvod__main__glavno__desno__naslov">{{product.title}}</span>
              <span class="products__productlist__proizvodi__proizvod__main__glavno__desno__cijena">{{product.price}}€</span>
              <div class="products__productlist__proizvodi__proizvod__main__glavno__desno__kodpopust">
                <span>Kod proizvoda: {{product.code}}</span>
                <img src="assets/images/products/copy.svg" alt="">
                <span>&#8226;</span>
                <span *ngIf="product.discount > 0" class="green">Popust: {{product.discount}}%</span>
                <span *ngIf="product.discount == 0" class="orange">Popust: ovaj proizvod nije na popustu</span>
              </div>
              <span class="products__productlist__proizvodi__proizvod__main__glavno__desno__brkomada"
                    *ngIf="product.numAvailable>0">{{product.numAvailable}} dostupna komada</span>
              <span class="products__productlist__proizvodi__proizvod__main__glavno__desno__brkomada red"
                    *ngIf="product.numAvailable == 0">Nema dostupnih komada</span>
            </div>
          </div>
          <div class="products__productlist__proizvodi__proizvod__main__kolicinadiv">
            <span class="products__productlist__proizvodi__proizvod__main__kolicinadiv__naslov">Kolicina</span>
            <div class="products__productlist__proizvodi__proizvod__main__kolicinadiv__field">
              <input placeholder="1" type="text" name="" id="">
              <span>-</span>
              <span>+</span>
            </div>
            <button class="products__productlist__proizvodi__proizvod__main__kolicinadiv__button">Dodaj u korpu</button>
          </div>
        </div>
        <div class="products__productlist__proizvodi__proizvod__expandedinfo">

        </div>
      </div>
    </div>
    <div class="products__productlist__proizvodi" *ngIf="isLoadingProducts">
      <div class="products__productlist__proizvodi__proizvod loader" *ngFor="let product of [0,1,2,3,4,5,6,7,8,9]">

      </div>
    </div>
    <div class="products__productlist__proizvodi__paginacija" *ngIf="!isLoadingProducts">
      <div class="products__productlist__proizvodi__paginacija__prikazi">
        <select id="company-dropdown" [(ngModel)]="selectedPrikazi" (change)="changePrikazi()" name="dropdown-prikazi" >
          <option value=5>Prikazi 5</option>
          <option value=10>Prikazi 10</option>
          <option value=15>Prikazi 15</option>
        </select>
      </div>
      <div class="products__productlist__proizvodi__paginacija__stranice">
        <button class="products__productlist__proizvodi__paginacija__stranice__nazad"
                [disabled]="trenutnaStranica==1" (click)="goBack()"
        ><</button>
        <ng-container *ngIf="(trenutnaStranica > 1 && trenutnaStranica < brojStranica) && brojStranica>=3">
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica"
                  (click)="goBack()">{{trenutnaStranica - 1}}</button>
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica" disabled>{{trenutnaStranica}}</button>
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica"
                  (click)="goForward()">{{trenutnaStranica+1}}</button>
        </ng-container>
        <ng-container *ngIf="trenutnaStranica == 1 && brojStranica>=3">
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica" disabled>{{trenutnaStranica}}</button>
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica"
                  (click)="goForward()">{{trenutnaStranica+1}}</button>
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica"
                  (click)="goToPage(trenutnaStranica+2)">{{trenutnaStranica+2}}</button>
        </ng-container>
        <ng-container *ngIf="trenutnaStranica == brojStranica && brojStranica>=3">
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica"
                  (click)="goToPage(trenutnaStranica-2)">{{trenutnaStranica - 2}}</button>
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica"
                  (click)="goBack()">{{trenutnaStranica-1}}</button>
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica" disabled>{{trenutnaStranica}}</button>
        </ng-container>

        <ng-container *ngIf="brojStranica == 2 && trenutnaStranica == 1">
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica" disabled>{{trenutnaStranica}}</button>
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica"
                  (click)="goForward()">{{trenutnaStranica+1}}</button>
        </ng-container>
        <ng-container *ngIf="brojStranica == 2 && trenutnaStranica == 2">
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica"
                  (click)="goBack()">{{trenutnaStranica-1}}</button>
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica" disabled>{{trenutnaStranica}}</button>
        </ng-container>
        <ng-container *ngIf="brojStranica == 1">
          <button class="products__productlist__proizvodi__paginacija__stranice__stranica" disabled>{{trenutnaStranica}}</button>
        </ng-container>
        <button class="products__productlist__proizvodi__paginacija__stranice__naprijed"
                [disabled]="trenutnaStranica==brojStranica" (click)="goForward()"
        >></button>
      </div>
    </div>
  </div>
</main>
