:host {
  width: 100%;
  flex-grow: 1;
}

.loader{
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.products{
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  &__filters{
    height: auto;
    width: 14%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    &__filter-kategorije{
      width: 100%;
      position: relative;
      margin-bottom: 40px;
      &__lista{
        margin-top: 15px;
        list-style: none;
        padding: 0;
        li{
          margin: 15px 0;
          color: #5b5d5d;
          font-size: 1em;
        }
      }
    }
    &__filter-brendovi, &__filter-distributeri{
      width: 100%;
      position: relative;
      margin-bottom: 40px;
      &__checkboxlist{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        padding: 0;
        label{
          color: #5b5d5d;
          input{
            margin: 10px 0;
          }
        }
      }
    }
    &__filter-raspon{
      width: 100%;
      position: relative;
      margin-bottom: 40px;
      &__slider{
        margin-top: 20px;
      }
      &__fields {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 10px;
        &__field{
          width: 48%;
          height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          span{
            width: 100%;
            height: 40%;
          }
          input{
            height: 60%;
            width: calc(100% - 10px);
            padding: 0;
            padding-left: 10px;
            border: 0.5px solid lightgray;
            border-radius: 5px;
          }
        }
      }
      &__button{
        width: 100%;
        height: 40px;
        button{
          width: 100%;
          height: 100%;
          border: 0.5px solid lightgray;
          border-radius: 5px;
          background-color: white;
          font-size: 1em;
          color: #0067ff;
        }
      }
    }
    &__filter-title{
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 100px;
    }
    &__filter-button{
      margin-top: 15px;
      color: #0067ff;
      background-color: transparent;
      border: none;
      font-size: 1em;
      padding: 0;
      &:first-child{
        margin-top: 0;
        background-color: blue;
      }
    }
    &__filter-arrow{
      position: absolute;
      right: 10px;
      top: 5px;
      background-color: transparent;
      border: none;
      height: 10px;
      width: 10px;
    }
  }
  &__productlist{
    height: auto;
    width: 76%;
    &__filteri{
      height: 50px;
      background-color: white;
      border: 0.5px solid lightgray;
      border-radius: 5px;
      padding: 10px;
      width: calc(100% - 20px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__lijevo{
        width: 25%;
        height: 80%;
        display: flex;
        align-items: center;
        select {
          box-sizing: content-box;
          padding: 1px 2px 1px 0;
          width: 100%;
          height: 100%;
          border: 0.5px solid lightgray;
          border-radius: 5px;
          color: gray;
          font-size: 0.9em;
          appearance: none;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-position: right 1rem center;
          background-size: 1.3em;
          padding-left: 10px;
        }
        span{
          color: gray;
          margin-left: 10px;
          font-size: 0.9em;
        }
      }

      &__desno{
        width: 25%;
        height: 80%;
        display: flex;
        align-items: center;
        position: relative;
        img{
          position: absolute;
          left: 14px;
          height: 40%;
        }
        input[type=text]{
          height: 100%;
          border: 0.5px solid lightgray;
          border-radius: 5px;
          padding-left: 40px;
          width: calc(100% - 40px);
          font-size: 1em;
          color: gray;
        }
      }
    }
    &__proizvodi{
      margin: 20px 0;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      &__proizvod{
        margin-bottom: 10px;
        height: 140px;
        padding: 15px 30px;
        width: calc(100% - 60px);
        background-color: white;
        border: 0.5px solid lightgray;
        border-radius: 5px;
        &__main{
          width: 100%;
          height: 100%;
          display: flex;
          &__glavno{
            height: 100%;
            width: 80%;
            display: flex;
            &__lijevo{
              height: 100%;
              width: 15%;
              display: flex;
              justify-content: flex-start;
              img{
                width: 75%;
                height: 75%;
                object-fit: cover;
              }
            }
            &__desno{
              height: 100%;
              width: 85%;
              display: flex;
              flex-direction: column;
              &__naslov, &__cijena, &__kodpopust, &__brkomada{
                height: 25%;
                width: 100%;
                display: flex;
                align-items: center;
              }
              &__naslov{
                font-size: 1.5em;
                font-weight: bold;
              }
              &__cijena{
                font-weight: bold;
              }
              &__kodpopust{
                display: flex;
                img{
                  margin-right: 10px;
                  height: 30%;
                }
                span{
                  margin-right: 10px;
                  &:first-child{
                    color: dimgray;
                  }
                  &:nth-child(3){
                      font-size: 1.5em;
                      color: #3979f6;
                  }
                  &:last-child{
                    font-size: 0.9em;
                  }
                }
              }
              &__brkomada{
                font-size: 0.9em;
              }
            }
          }
          &__kolicinadiv{
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;
            //ovo provjeri da li zelis ovako
            justify-content: space-between;
            align-items: flex-start;
            &__naslov, &__button{
              width: 100%;
              display: flex;
              align-items: center;
            }
            &__naslov{
              height: 25%;
              font-size: 1.3em;
              font-weight: bold;
            }
            &__field{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 10px 0;
              height: calc(41% - 20px);
              input{
                height: 100%;
                width: calc(60% - 10px);
                text-align: right;
                padding: 0;
                padding-right: 10px;
                font-size: 1em;
                border: 0.5px solid lightgray;
                border-radius: 5px;
              }
              span{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #dee2e6;
                &:nth-child(2){
                    color: dimgray;
                    font-size: 2em;
                }
                &:last-child{
                  color: black;
                  font-size: 1.2em;
                }
              }
            }
            &__button{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 34%;
              width: 100%;
              border: none;
              border-radius: 5px;
              color: white;
              background-color: #0067ff;
              font-size: 1.1em;
            }

          }
        }
      }
      &__paginacija{
        width: 100%;
        height: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &__prikazi{
          width: 15%;
          height: 100%;
          display: flex;
          align-items: center;
          margin-right: 10px;
          select {
            cursor: pointer;
            box-sizing: content-box;
            padding: 1px 2px 1px 0;
            width: 100%;
            height: 100%;
            border: 0.5px solid lightgray;
            border-radius: 5px;
            font-size: 0.9em;
            appearance: none;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1.3em;
            padding-left: 10px;
          }
        }
        &__stranice{
          width: 20%;
          height: 100%;
          display: flex;
          align-items: center;
          &__nazad,&__naprijed,&__stranica{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: white;
            cursor: pointer;
          }
          &__nazad{
            border: 0.5px solid lightgray;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          &__naprijed{
            border: 0.5px solid lightgray;
            border-left: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          &__stranica{
            border: 0.5px solid lightgray;
            &:nth-child(2){
              border-left: none;
            }
            &:nth-child(3){
              border-left: none
            }
            &:nth-child(4){
              border-left: none;
            }
          }
        }
      }
    }
  }
}

.no-margin{
  margin: 0;
}

.orange {
  color: #edaf13;
}

.green{
  color: #36c54a;
}

.red{
  color: #fa3434;
}

@media (min-width: 993px) and (max-width: 1200px) {
  //:host{
  //  background-color: pink;
  //}
  .products{
    &__productlist{
      &__filteri{
        &__lijevo{
          width: 35%;
        }
        &__desno{
          width: 35%;
        }
      }
      &__proizvodi{
        &__paginacija{
          &__prikazi{
            width: 20%;
          }
          &__stranice{
            &__nazad,&__naprijed,&__stranica{
            }
            &__nazad{
            }
            &__naprijed{
            }
            &__stranica{
              &:nth-child(2){
              }
              &:nth-child(3){
              }
              &:nth-child(4){
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  //:host{
  //  background-color: pink;
  //}
  .products{
    &__productlist{
      &__filteri{
        &__lijevo{
          width: 40%;
        }
        &__desno{
          width: 35%;
        }
      }
      &__proizvodi{
        &__proizvod{
          padding: 15px;
          width: calc(100% - 30px);
          &__main{
            &__glavno{
              height: 100%;
              width: 70%;
              &__lijevo{
                width: 25%;
                img{
                  width: 75%;
                  height: 75%;
                  object-fit: cover;
                }
              }
              &__desno{
                width: 75%;
                &__naslov, &__cijena, &__kodpopust, &__brkomada{
                  height: 25%;
                  width: 100%;
                  display: flex;
                  align-items: center;
                }
                &__naslov{
                  font-size: 1.3em;
                }
                &__cijena{
                  font-weight: bold;
                }
                &__kodpopust{
                  img{
                    margin-right: 10px;
                    height: 30%;
                  }
                  span{
                    margin-right: 5px;
                    &:first-child{
                      font-size: 0.8em;
                    }
                    &:nth-child(3){
                      font-size: 1.5em;
                    }
                    &:last-child{
                      font-size: 0.8em;
                    }
                  }
                }
                &__brkomada{
                  font-size: 0.8em;
                }
              }
            }
            &__kolicinadiv{
              width: 30%;
              &__naslov{
                font-size: 1.3em;
              }
              &__field{
                margin: 10px 0;
                height: calc(41% - 20px);
                input{
                  width: calc(60% - 10px);
                  padding: 0;
                  padding-right: 10px;
                  font-size: 1em;
                }
                span{
                  width: 25px;
                  height: 25px;
                  &:nth-child(2){
                    font-size: 2em;
                  }
                  &:last-child{
                    font-size: 1.2em;
                  }
                }
              }
              &__button{
                font-size: 1em;
              }
            }
          }
        }
        &__paginacija{
          &__prikazi{
            width: 20%;
          }
          &__stranice{
            &__nazad,&__naprijed,&__stranica{
            }
            &__nazad{
            }
            &__naprijed{
            }
            &__stranica{
              &:nth-child(2){
              }
              &:nth-child(3){
              }
              &:nth-child(4){
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  //:host{
  //  background-color: pink;
  //}
  .products{
    &__filters{
      height: auto;
      width: calc(24% - 10px);
      margin-right: 10px;
      &__filter-kategorije{
        &__lista{
          li{
            margin: 10px 0;
            font-size: 0.9em;
          }
        }
      }
      &__filter-brendovi, &__filter-distributeri{
        &__checkboxlist{
          margin-top: 15px;
          label{
            font-size: 0.9em;
            input{
              margin: 5px 0;
            }
          }
        }
      }
      &__filter-raspon{
        &__slider{
          margin-top: 20px;
        }
        &__fields {
          &__field{
            span{
              font-size: 0.9em;
            }
            input{
            }
          }
        }
        &__button{
          button{
            font-size: 0.9em;
          }
        }
      }
      &__filter-title{
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 100px;
      }
      &__filter-button{
        margin-top: 5px;
        color: #0067ff;
        background-color: transparent;
        border: none;
        font-size: 0.9em;
        padding: 0;
        &:first-child{
          margin-top: 0;
          background-color: blue;
        }
      }
      &__filter-arrow{
        position: absolute;
        right: 10px;
        top: 5px;
        background-color: transparent;
        border: none;
        height: 10px;
        width: 10px;
      }
    }
    &__productlist{
      &__filteri{
        &__lijevo{
          width: 52%;
        }
        &__desno{
          width: 42%;
          font-size: 0.9em;
        }
      }
      &__proizvodi{
        &__proizvod{
          padding: 15px;
          width: calc(100% - 30px);
          &__main{
            &__glavno{
              height: 100%;
              width: 70%;
              &__lijevo{
                width: 25%;
                img{
                  width: 75%;
                  height: 75%;
                  object-fit: cover;
                }
              }
              &__desno{
                width: 75%;
                &__naslov, &__cijena, &__kodpopust, &__brkomada{
                  height: 25%;
                  width: 100%;
                  display: flex;
                  align-items: center;
                }
                &__naslov{
                  font-size: 1.3em;
                }
                &__cijena{
                  font-weight: bold;
                }
                &__kodpopust{
                  img{
                    margin-right: 10px;
                    height: 30%;
                  }
                  span{
                    margin-right: 5px;
                    &:first-child{
                      font-size: 0.8em;
                    }
                    &:nth-child(3){
                      font-size: 1.5em;
                    }
                    &:last-child{
                      font-size: 0.8em;
                    }
                  }
                }
                &__brkomada{
                  font-size: 0.8em;
                }
              }
            }
            &__kolicinadiv{
              width: 30%;
              &__naslov{
                font-size: 1.3em;
              }
              &__field{
                margin: 10px 0;
                height: calc(41% - 20px);
                input{
                  width: calc(60% - 10px);
                  padding: 0;
                  padding-right: 10px;
                  font-size: 1em;
                }
                span{
                  width: 25px;
                  height: 25px;
                  &:nth-child(2){
                    font-size: 2em;
                  }
                  &:last-child{
                    font-size: 1.2em;
                  }
                }
              }
              &__button{
                font-size: 1em;
              }
            }
          }
        }
        &__paginacija{
          &__prikazi{
            width: 30%;
          }
          &__stranice{
            width: 40%;
            &__nazad,&__naprijed,&__stranica{
            }
            &__nazad{
            }
            &__naprijed{
            }
            &__stranica{
              &:nth-child(2){
              }
              &:nth-child(3){
              }
              &:nth-child(4){
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  //:host{
  //  background-color: pink;
  //}
  .products{
    &__filters{
      height: auto;
      width: calc(40% - 10px);
      margin-right: 10px;
      &__filter-kategorije{
        &__lista{
          li{
            margin: 10px 0;
            font-size: 0.9em;
          }
        }
      }
      &__filter-brendovi, &__filter-distributeri{
        &__checkboxlist{
          margin-top: 15px;
          label{
            font-size: 0.9em;
            input{
              margin: 5px 0;
            }
          }
        }
      }
      &__filter-raspon{
        &__slider{
          margin-top: 20px;
        }
        &__fields {
          &__field{
            span{
              font-size: 0.9em;
            }
            input{
            }
          }
        }
        &__button{
          button{
            font-size: 0.9em;
          }
        }
      }
      &__filter-title{
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 100px;
      }
      &__filter-button{
        margin-top: 5px;
        color: #0067ff;
        background-color: transparent;
        border: none;
        font-size: 0.9em;
        padding: 0;
        &:first-child{
          margin-top: 0;
          background-color: blue;
        }
      }
      &__filter-arrow{
        position: absolute;
        right: 10px;
        top: 5px;
        background-color: transparent;
        border: none;
        height: 10px;
        width: 10px;
      }
    }
    &__productlist{
      width: 60%;
      &__filteri{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__lijevo{
          width: 100%;
          select{
            height: 80%;
            font-size: 0.7em;
            background-size: 1em;
          }
        }
        &__desno{
          width: 100%;
          input[type=text]{
            height: 80%;
            font-size: 0.8em;
          }
          img{
            height: 30%;
          }
        }
      }
      &__proizvodi{
        &__proizvod{
          height: 400px;
          padding: 10px;
          width: calc(100% - 20px);
          &__main{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__glavno{
              height: 70%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              &__lijevo{
                height: 35%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  width: 100px;
                  height: 75%;
                  object-fit: cover;
                }
              }
              &__desno{
                height: 65%;
                width: 100%;
                &__naslov, &__cijena, &__kodpopust, &__brkomada{
                }
                &__naslov{
                  height: 20%;
                  font-size: 1.3em;
                }
                &__cijena{
                  height: 20%;
                }
                &__kodpopust{
                  height: 35%;
                  img{
                    margin-right: 5px;
                    height: 20%;
                  }
                  span{
                    margin-right: 5px;
                    &:first-child{
                      font-size: 0.8em;
                    }
                    &:nth-child(3){
                      font-size: 1.5em;
                    }
                    &:last-child{
                      font-size: 0.8em;
                    }
                  }
                }
                &__brkomada{
                  height: 25%;
                  font-size: 0.8em;
                }
              }
            }
            &__kolicinadiv{
              height: 30%;
              width: 100%;
              &__naslov{
                font-size: 1.3em;
              }
              &__field{
                margin: 10px 0;
                height: calc(41% - 20px);
                input{
                  width: calc(60% - 10px);
                  padding: 0;
                  padding-right: 10px;
                  font-size: 1em;
                }
                span{
                  width: 25px;
                  height: 25px;
                  &:nth-child(2){
                    font-size: 2em;
                  }
                  &:last-child{
                    font-size: 1.2em;
                  }
                }
              }
              &__button{
                font-size: 1em;
              }
            }
          }
        }
        &__paginacija{
          &__prikazi{
            width: 50%;
            font-size: 0.8em;
            margin-right: 5px;
            select{
              padding: 0;
              padding-left: 5px;
              background-size: 1em;
            }
          }
          &__stranice{
            width: 50%;
            font-size: 0.9em;
            &__nazad,&__naprijed,&__stranica{
            }
            &__nazad{
            }
            &__naprijed{
            }
            &__stranica{
              &:nth-child(2){
              }
              &:nth-child(3){
              }
              &:nth-child(4){
              }
            }
          }
        }
      }
    }
  }
}
