<main class="home">
  <div class="home__kategorije">
    <select class="home__kategorije__upbar" id="company-dropdown" [(ngModel)]="selectedUpBar" name="dropdown"
            *ngIf="!loadingMainKategorije && isSmallScreen">
      <option *ngFor="let mainKategorija of mainKategorije" [value]="mainKategorija.title">{{mainKategorija.title}}</option>
    </select>
    <ul class="home__kategorije__sidebar" *ngIf="!loadingMainKategorije && !isSmallScreen">
      <li *ngFor="let mainKategorija of mainKategorije"><a>{{mainKategorija.title}}</a></li>
    </ul>
    <div class="home__kategorije__slider-div">
      <div class="home__kategorije__slider-div__dots">
        <input *ngFor="let subkategorija of mainKategorije; index as i" type="radio" name="kategorija" id="{{i}}"
               [checked]="selectedCarouselIndex == i"
               (click)="goTo(i)">
      </div>
      <button class="home__kategorije__slider-div__left" (click)="goTo('left')"><</button>
      <button class="home__kategorije__slider-div__right" (click)="goTo('right')">></button>
      <div class="home__kategorije__slider-div__top" #slidertop [ngStyle]="{'width': carouselLength*100 + '%'}">
        <img *ngFor="let subkategorija of mainKategorije" [ngStyle]="{'width': 100/carouselLength + '%'}"
             src="{{subkategorija.imagePath}}" alt="">
      </div>
      <div class="home__kategorije__slider-div__bottom" #sliderbottom [ngStyle]="{'width': carouselLength*100 + '%'}">
        <div class="home__kategorije__slider-div__bottom__desc" *ngFor="let subkategorija of mainKategorije"
             [ngStyle]="{'width': 100/carouselLength + '%'}">
          <span>{{subkategorija.title}}</span>
          <div class="home__kategorije__slider-div__bottom__desc__popust">Popust 40%</div>
        </div>
      </div>
    </div>
    <div class="home__kategorije__akcije" *ngIf="!loadingDiscountedKategorije">
      <div class="home__kategorije__akcije__kategorija" *ngFor="let discountedKategorija of discountedKategorije">
        <span>{{discountedKategorija.title}}</span>
        <img src="{{discountedKategorija.imagePath}}" alt="">
      </div>
      <button>POGLEDAJ AKCIJE</button>
    </div>
  </div>

  <div class="home__izdvajamo" *ngIf="!loadingIzdvajamoKategorije">
    <div class="home__izdvajamo__kategorija">
      <span>
        Posebno izdvajamo
      </span>
      <span>
        {{selectedIzdvajamoCategory.title}}
      </span>
      <button>
        Pogledaj sve
      </button>
    </div>
    <div class="home__izdvajamo__podkategorije">
      <div *ngFor="let subcategory of selectedIzdvajamoSubCategories | slice:0:5;"
           class="home__izdvajamo__podkategorije__podkategorija">
        <img src="{{subcategory.imagePath}}" alt="">
        <span class="home__izdvajamo__podkategorije__podkategorija__naslov">
          {{subcategory.title}}
        </span>
        <span>
          -40%
        </span>
      </div>
    </div>
  </div>
<ng-container *ngIf="!loadingRandomSubCategorie1 && !loadingRandomSubCategorie2" >
  <div class="home__subcategory" *ngFor="let subcategory of randomSubcategories; index as i">
    <div class="home__subcategory__titlediv"
         [ngStyle]="i == 1 ? {'background-color': '#ffe0b0'} : {'background-color': '#3af9ed'} ">
      <span class="home__subcategory__titlediv__title">
        {{subcategory.title}}
      </span>
      <img src="{{subcategory.imagePath}}" alt="">
    </div>
    <div class="home__subcategory__products" *ngIf="i == 0">
      <div class="home__subcategory__products__product" *ngFor="let product of randomProducts1 | slice:0:8; index as i">
        <span class="home__subcategory__products__product__title">{{product.title}}</span>
        <span class="home__subcategory__products__product__code">Kod proizvoda:<br>{{product.code}}</span>
        <span class="home__subcategory__products__product__price">{{product.price}}€</span>
        <img src="{{product.imagePath}}" alt="">
      </div>
    </div>
    <div class="home__subcategory__products" *ngIf="i == 1">
      <div class="home__subcategory__products__product" *ngFor="let product of randomProducts2 | slice:0:8; index as i">
        <span class="home__subcategory__products__product__title">{{product.title}}</span>
        <span class="home__subcategory__products__product__code">Kod proizvoda:<br>{{product.code}}</span>
        <span class="home__subcategory__products__product__price">{{product.price}}€</span>
        <img src="{{product.imagePath}}" alt="">
      </div>
    </div>
  </div>
</ng-container>
  <div class="home__magacin">
    <div class="home__magacin__left">
      <span class="home__magacin__left__title">
        Jednostavan nacin da trazite proizvod koji nije u ponudi.
      </span>
      <span class="home__magacin__left__description">
        Posaljite zahtjev za proizvod koji vam nije potreban a ne nalazi se u nasoj ponudi.
        Magacioner ce da vam se javi sa informaciom u naredna 24h.
      </span>
    </div>
    <div class="home__magacin__right">
      <form class="home__magacin__right__form">
        <span class="home__magacin__right__form__title">
          Posaljite upit magacioneru
        </span>
        <input type="text" name="" id="" class="home__magacin__right__form__input" placeholder="Sta vam je potrebno?">
        <textarea placeholder="Opisite zahtjev"></textarea>
        <div class="home__magacin__right__form__kolicinadiv">
          <div class="home__magacin__right__form__kolicinadiv__title">
            Kolicina
          </div>
          <select class="home__magacin__right__form__kolicinadiv__kolicina">
            <option selected>1</option>
            <option>2</option>
          </select>
        </div>
        <div class="home__magacin__right__form__buttondiv">
          <button class="home__magacin__right__form__buttondiv__button">
            Posaljite zahtjev
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="home__proizvodi-title">
    Proizvodi koje izdvajamo
  </div>
  <div class="home__proizvodi" *ngIf="!loadingRandomProducts">
      <div *ngFor="let product of randomProducts" class="home__proizvodi__proizvod">
        <img src="{{product.imagePath}}" alt="">
        <span><span class="home__proizvodi__proizvod__cijena">${{product.price}}</span><br>
          <span class="home__proizvodi__proizvod__naslov">{{product.title}}</span>
          </span>
      </div>
  </div>
  <div class="home__usluge-title">
    Dodatne usluge
  </div>
  <div class="home__usluge">
    <div *ngFor="let utility of utilities" class="home__usluge__usluga">
      <img src="{{utility.imagePath}}" alt="" class="home__usluge__usluga__slika">
      <span class="home__usluge__usluga__naslov">{{utility.title}}</span>
      <div class="home__usluge__usluga__ikonica"><img src="{{utility.iconPath}}" alt=""></div>
    </div>
  </div>
</main>
